{%- set title = _("Access denied") %}
{%- extends "kerko/layout.html.jinja2" %}

{%- block content_inner %}
    <p>{{ _("Access to the required page is not authorized.") }}</p>
{%- endblock content_inner %}
