.git
.gitignore
.dockerignore

# Byte-compiled / optimized / caches.
.cache
.mypy_cache/
__pycache__/

# Unit test / coverage reports.
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Logs.
*.log

# Development tools / IDEs.
.idea
.vscode/
*.code-workspace
.spyproject/
*.swo
*.swp

# OS-specific files.
.DS_Store

# Backup files.
*~
*.bak
*.old

# Configuration files.
.env
.flaskenv
.secrets.toml
instance.toml
config.toml

# Application data.
/data
/instance
