# Byte-compiled / optimized / caches.
.*cache/
__pycache__/
*.py[cod]
.npm/

# Distribution / packaging.
.Python
env/
venv/
.venv/
build/
eggs/
.eggs/
*.egg
*.egg-info/
.tool-versions
**/dist/
**/node_modules/

# Unit test / coverage reports.
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Logs.
*.log

# Docker / build tools / source control.
.dockerignore
Dockerfile
docker-compose.yml
Makefile
.git*
.pre-commit-config.yaml

# Development tools / IDEs.
.idea
.vscode/
*.code-workspace
.spyproject/
*.swo
*.swp

# OS-specific files.
.DS_Store

# Backup files.
*~
*.bak
*.old

# Configuration files.
.env
.flaskenv
.secrets.toml
instance.toml
config.toml

# Application data.
/data
/instance
