# Kerko variables.
SECRET_KEY=MY_SECRET_KEY
KERKO_TITLE=KERKO_TITLE
KERKO_ZOTERO_API_KEY=MY_ZOTERO_API_KEY
KERKO_ZOTERO_LIBRARY_ID=MY_ZOTERO_LIBRARY_ID
KERKO_ZOTERO_LIBRARY_TYPE=MY_ZOTERO_LIBRARY_TYPE
KERKO_PRINT_ITEM_LINK=True
KERKO_PRINT_CITATIONS_LINK=True

# KerkoApp variables.
FLASK_ENV=production

# Docker container variables.
MODULE_NAME=wsgi
