{%- set title = _("Bad request") %}
{%- extends config.KERKO_TEMPLATE_LAYOUT %}

{%- block content_inner %}
    <p>{{ _("The browser (or a proxy) sent a request that this site could not understand.") }}</p>
{%- endblock content_inner %}
