{%- set title = _("Access denied") %}
{%- extends config.KERKO_TEMPLATE_LAYOUT %}

{%- block content_inner %}
    <p>{{ _("Access to the required page is not authorized.") }}</p>
{%- endblock content_inner %}
