{%- set title = _("Service unavailable") %}
{%- extends config.KERKO_TEMPLATE_LAYOUT %}

{%- block content_inner %}
    <p>{{ _("The service is temporarily unavailable. Please try again later.") }}</p>
{%- endblock content_inner %}
