{%- set title = _("Service unavailable") %}
{%- extends config.kerko.templates.layout %}

{%- block content_inner %}
    <p>{{ _("The service is temporarily unavailable. Please try again later.") }}</p>
{%- endblock content_inner %}
